@model aereoliniafinal.Models.Pais

@{
    ViewData["Title"] = "Details";
}

    <div>
        <dl class="list-group">
            <span style="font-size:20px; text-align:center; ">
                <dt class="list-group-item active">
                    Detalles del pais
                </dt>
            </span>
            <dl class="list-group">
                <dt class="list-group-item">
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd class="list-group-item">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
            </dl>
    </div>
<br />
<div>
    <a type="button" class="btn btn-success" asp-action="Index">Volver atras </a> |
    <a type="button" class="btn btn-danger" asp-action="Edit" asp-route-id="@Model.PaisID">Editar</a>

</div>