@model aereoliniafinal.Models.Vuelos

@{
    ViewData["Title"] = "Edit";
}
    <span style="font-size:20px; text-align:center; ">
        <dt class="list-group-item active">
            Editar el vuelo
        </dt>
    </span>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VuelosID" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaSalida" class="control-label"></label>
                <input asp-for="FechaSalida" class="form-control" />
                <span asp-validation-for="FechaSalida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaLlegada" class="control-label"></label>
                <input asp-for="FechaLlegada" class="form-control" />
                <span asp-validation-for="FechaLlegada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvionesID" class="control-label"></label>
                <select asp-for="AvionesID" class="form-control" asp-items="ViewBag.AvionesID"></select>
                <span asp-validation-for="AvionesID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CiudadesID" class="control-label"></label>
                <select asp-for="CiudadesID" class="form-control" asp-items="ViewBag.CiudadesID"></select>
                <span asp-validation-for="CiudadesID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a type="button" class="btn btn-success" asp-action="Index">Cancelar</a> |
                <input type="submit" value="Guardar" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
